html,
body {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    min-height: 30vh;
    background-image: url('images/image.svg');
    background-color: rgba(0, 0, 0, 0.966);
    color: #fff;
    justify-content: center;
}



.header-content {
    width: 60%;
    justify-content: space-between;
}

.user-actions {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
    min-width: 600px;
}

a{
    color: #fff;
    text-decoration-line: none;
    font-size: 1.5rem;
}
a:hover,
a:focus{
    color: brown;
}

input,
button {
    height: 40px;
    margin: 0;
    padding: 0;
    border-bottom: 1px;
    border: 1px solid #D1D5DB;

}

input {
    width: 50%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
    text-align: center;
}

button {
    width: 10%;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.movies-container {
    width: 60%;
    min-height: 60vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
}

.flex {
    width: 100%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
}

section>h3 {
    color: #DFDDDD;
}


.movie{
    margin-bottom: 10px;
    width: 100%;
}
.flex-row,
.movie,
.flex,
.movies-container,
.header-content,
header,.user-actions {
    display: flex;
    align-items: center;
}

.movie-poster{
    width: 150px;
    margin-right: 2em;
    object-fit: cover;
}

.flex-row{
    gap: 1.5em;
}

.addtolist-btn{
    background-color: #fff;
    cursor: pointer;
    min-width: 80px;
    
}

.addtolist-btn:hover,
.addtolist-btn:focus{
    color: #D1D5DB;
}